@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.gradient-text {
    background: linear-gradient(88.93deg, #1F98E8 18.91%, #02D0DE 79.91%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.coinmarketcap-currency-widget > div {
    border: 0px!important;
}
.coinmarketcap-currency-widget {
    border-radius: 24px;
    padding: 24px 24px 10px;
}
.coinmarketcap-currency-widget a[target="_blank"] {
    color: #728a96!important;
    font-style: normal;
    font-size: 18px!important;
}

/* animation */
@keyframes transformRight {
    from {
        transform: translateX(0);
    }
    50% {
        transform: translateX(8px);
    }
    to {
        transform: translateX(0);
    }
}